<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo suite" parallel="none">
  <test verbose="2" name="Demo test" preserve-order="true">
    <classes>
      <class name="Tests._01_case01and02"/>
      <class name="Tests._02_case03"/>
      <class name="Tests._03_case04"/>
      <class name="Tests._04_case05"/>
      <class name="Tests._05_case06"/>
      <class name="Tests._06_case07"/>
      <class name="Tests._07_case08"/>
      <class name="Tests._08_case09"/>
      <class name="Tests._09_case10"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
